#content-container {
    width: 100vw;
    height: fit-content;
    min-height: 85vh;
}

#content-container h2 {
    font-size: xx-large;
    margin-top: 15vh;
    margin-bottom: 5vh;
    text-align: center;
}

#text-container {
    width: 80vw;
    min-height: fit-content;
    margin: 0 auto;
    background-color: #52B6FF;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

#text-container p {
    font-size: x-large;
    text-align: center;
    color: white;
    padding-top: 5vh;
    padding-right: 3vw;
    padding-left: 3vw;

}

#text-container img {
    width: 60vw;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 5vh;
}


@media screen and (min-width: 1140px) {
    
    #text-container img {
        width: 20vw;
    }
}

@media screen and (max-width: 407px) {
    #text-container p {
        font-size: large;
    }
}

@media screen and (max-width: 407px) {
    #text-container p {
        font-size: large;
    }
}