#nav-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    border: 5px solid black;
    z-index: 1;
    display: flex;
    align-items: center;
}

#logo {
    width: 25vw;
    display: block;
    margin: 0 auto;
    min-width: 200px;
    
}

#footer-container {
    background-color: #52B6FF;
    width: 100vw;
    height: 7vh;
    margin-top: 2.8vh;
}

#footer-container ul {
    text-align: center;
    padding-top: 2vh;
    
}

#footer-container ul li {
    font-size: 4vw;
    display: inline;
    margin-right: 3vw;
    background-color: white;
    border-radius: 10px;
    padding: 1vh;
    box-shadow: 3px 3px 3px gray;
}

#footer-container ul li a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 992px) {

    #logo-link {
        text-align: center;
        margin-left: -12vw;
    }

    #logo {
        width: 25vw;
        max-width: 270px;
        display: block;
        margin: 0 auto;
        min-width: 200px;
    }

    #footer-container ul li {
        font-size: 1vw;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    #logo-link {
        text-align: center;
        margin-left: -28vw;
    }

    #logo {
        width: 25vw;
        max-width: 270px;
        display: block;
        margin: 0 auto;
        min-width: 200px;
    }

    #footer-container ul li {
        font-size: 3vw;
    }
}

@media screen and (max-width: 768px) {


    #logo-link {
        text-align: center;
        margin-left: -2vw;
    }
}

@media screen and (max-width: 390px) {

    #footer-container ul li {
        font-size: 3vw;
    }
}