#nav-bar {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 10vh;
    height: fit-content;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
}

#logo {
    width: 25vw;
    display: block;
    margin: 0 auto;
    min-width: 200px;
    
}

#footer-container {
    background-color: #52B6FF;
    width: 100vw;
    height: fit-content;
    margin-top: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#footer-container ul {
    text-align: center;
    padding-top: 2vh;
    
}

#footer-container ul li {
    
    font-size: medium;
    display: inline;
    margin-right: 3vw;
    background-color: white;
    border-radius: 10px;
    padding: 1vh;
    box-shadow: 3px 3px 3px gray;
}



#footer-container ul li a {
    text-decoration: none;
    color: black;
}

#navbar-links ul li a {
    color: black;
}

#navbar-links ul li a:hover {
    scale: 1.025;
}

li a:hover {
    cursor: pointer;
}

#profile-link {
    display: none;
}

@media screen and (max-width: 768px) {

    #profile-link {
        display: block;
    }

    #navbar-links ul {
        height: 100vh;
        width: 100vw;
        background-color: white;
        position: absolute;
        margin-top: 5vh;
        top: -10;
        left: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
    }

    #navbar-links ul li {
        font-size: x-large;
        background-color: #52B6FF;
        border-radius: 10px;
        width: 80vw;
        margin: 0 auto;
        margin-top: 5vh;
    }    
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    #profile-link {
        display: block;
    }

    #navbar-links ul {
        height: 100vh;
        width: 100vw;
        background-color: white;
        position: absolute;
        margin-top: 10vh;
        top: 0;
        left: 0;
        position: fixed;
        padding-top: 4vh;
        display: flex;
        flex-direction: column;
    }

    #navbar-links ul li {
        font-size: x-large;
        background-color: #52B6FF;
        border-radius: 10px;
        width: 80vw;
        margin: 0 auto;
        margin-top: 5vh;
    }    
}

@media screen and (min-width: 992px) {

    #logo-link {
        text-align: center;
        margin-left: -16vw;
    }

    #logo {
        width: 25vw;
        max-width: 270px;
        display: block;
        margin: 0 auto;
        min-width: 200px;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    #logo-link {
        text-align: center;
        margin-left: -33vw;
    }

    #logo {
        width: 25vw;
        max-width: 270px;
        display: block;
        margin: 0 auto;
        min-width: 200px;
    }
}

@media screen and (min-width: 410px) and (max-width: 768px) {


    #logo-link {
        text-align: center;
        margin-left: -10vw;
    }

    #logo {
        display: block;
        margin: 0 auto;
        min-width: 200px;
        margin-left: -10vw;
    }
}

@media screen and (max-width: 410px) {

    #footer-container ul li {
        font-size: x-small;
    }
}

@media screen and (max-width: 340px) {

    #logo {
       width: 50vw;
        min-width: 10px;
    }
}