#catalog-display-container {
    width: 100%;
}

#catalog-display-container h2 {
    margin-top: 15vh;
    margin-bottom: 5vh;
    text-align: center;
    
}

#product-card-container a {
    text-decoration: none;
}

.product-card {
    width: 90vw;
    height: 100%;
    margin: auto;
    margin-bottom: 5vh;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    text-align: center;
    box-shadow: 5px 5px 5px gray;

}

.product-card:hover {
    scale: 1.025;
}

#first-product img {
    margin-top: 4vh;
}


#card-header {
    background-color: #52B6FF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-info img {
    display: block;
    width: 35vw;
    max-width: 180px;
    margin: auto;
    margin-top: 3vh;
    padding-bottom: 10vh;
}

.product-info h5 {
    text-align: center;
    text-decoration: none;
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: -.2vh;
    
}

@media screen and (min-width: 992px) {
    .product-card {
        margin-left: 8vw;
    }
}

.product-card .card .card-header {
    background-color: #52B6FF;
}