#hero-container {
    height: 100vh;
    background-color: #52B6FF;
}

li {
    font-size: 1.2vw;
}

#shopping-cart-button,
#profile-icon {
    margin-right: 1vw;
}

#hero-container h1 {
    font-size: xxx-large;
}

#hero-container h5 {
    font-size: x-large;
}

@media screen and (max-width: 992px) {
    #profile-icon {
        display: none;
    }
}

/* Collection Styles */

#collection-container {
    height: fit-content;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#collection-container h2 {
    text-align: center;
    margin-top: 5vh;
    font-size: xxx-large;
}

#collection-container .row {
    width: 100vw;
}

.card-container {
    margin-top: 5vh;
}

.card-container .card {
    margin-top: 5vh;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
}

.card-container .card:hover {
    transform: scale(1.025);
}

.card-container .card .btn {
    background-color: #52B6FF;
    color: white;
    border: none;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 2vh;
    font-size: x-large;
    width: 60%;
}

.card-container #card-one {
    margin-right: 1vw;
    height: fit-content;
}

.card-container .card .card-body h5 {
    margin-top: 3vh;
    font-size: xx-large;
}

.card-container .card .card-body img {
    width: 15vw;
}

#view-all-products-button {
    background-color: #52B6FF;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 5vh;
    width: 60vw;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
}

#view-all-products-button:hover {
    transform: scale(1.025);
}

/* Testimonials Styles */

#testimonials-container {
    min-height: 90vh;
    height: fit-content;
    width: 100vw;
    background-color: #52B6FF;
}

#testimonials-container .row {
    margin-right: 0;
}

#testimonials-container h2 {
    text-align: center;
    padding-top: 5vh;
    margin-bottom: 3vh;
    font-size: xxx-large;
}



#testimonials-container .card {
    margin-bottom: 5vh;
    width: 85vw;
    height: fit-content;
    display: flex;
    box-shadow: 5px 5px 5px gray;
}

#testimonials-container .card-body {
    width: fit-content;
}

.testimonial-pic {
    width: 8vw;
    max-width: 220px;
}

.testimonial-vertical-line {
    width: 3px;
    background-color: black;
    margin-right: 2vw;
    margin-left: 2vw;
}

/* List Form Styles */

#list-form-container {
    width: 100vw;
}

#list-form-container h2 {
    text-align: center;
    padding-top: 5vh;
    margin-bottom: 3vh;
    font-size: xxx-large;
}

#list-form-container form {
    width: 80vw;
    margin: 0 auto;
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    min-height: fit-content;
}

#list-form-container form label {
    margin-bottom: 1vh;
    font-size: x-large;
}

#list-form-container form button {
    width: 100%;
    background-color: #52B6FF;
    color: white;
    font-size: x-large;
}

#list-form-container form button:hover {
    transform: scale(1.025);
}

#list-form-container form .form-control {
    margin-bottom: 3vh;
}

#list-form-container img {
    width: 80%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 5vh;
    box-shadow: 5px 5px 5px gray;
}



/* Media Queries */

@media screen and (max-width: 992px) {
    #testimonials-container {
        height: fit-content;
    }

    .testimonial-pic {
        width: 30vw;
        display: block;
        margin: auto;
        margin-right: 2vw;
    }

    #card-one {
        margin-top: 0;
    }

    #list-form-container {
        height: fit-content;
    
    }
}

@media screen and (min-width: 992px) {
    #view-all-products-button {
        margin-top: 6vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-bottom: 5vh;
    }

    #testimonials-container .card {
        margin-top: 7vh;
        margin-bottom: 5vh;
        margin-right: 3vw;
        width: 27vw;
        display: flex;
        height: fit-content;
    }

    .testimonial-vertical-line {
        width: 3px;
        background-color: black;
    }

    #testimonials-container .card .card-body p {
        font-size: 1.25vw;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    #list-form-container img {
        width: 25vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #view-all-products-button {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    #testimonials-container .card .card-body p {
        font-size: larger;
        text-align: center;
        width: 100%;
        margin: auto;
    }

    #list-form-container img {
        width: 65vw;
    }
}

@media screen and (min-width: 550px) and (max-width: 992px) {
    #collection-container {
        height: 100vh;
    }

    #view-all-products-button {
        margin-top: 2vh;
    }
}

@media screen and (min-width: 992px) {
    #list-form-container img {
        width: 60vw;
    }
}

@media screen and (max-width: 992px) {
    .card-container .card .card-body img {
        width: 60vw;
    }
}

@media screen and (max-width: 992px) {
    #list-form-container img {
        width: 50vw;
    }

    #collection-container,
    .card-container .card {
        height: fit-content;
    }

    .card-container .card .card-body h5 {
        font-size: xx-large;
        margin-top: 2vh;
    }

    .card-container .card .card-body p {
        font-size: larger;
    }

    #testimonials-container .card .card-body p {
        font-size: larger;
        text-align: center;
        align-self: center;
    }

    #view-all-products-button {
        margin-bottom: 5vh;
        margin-top: 5vh;
        padding: 1vh;
    }
}

