#login-container {
    width: 100vw;
    height: fit-content;
    min-height: 90vh;
}

#login-container h2 {
    font-size: xx-large;
    margin-top: 15vh;
    margin-bottom: 5vh;
    text-align: center;
}

#login-container form {
    height: fit-content;
    min-height: 55%
}

#member-link p {
    margin-top: 3vh;
}