#login-container {
    width: 100vw;
    height: fit-content;
    min-height: 90vh;
}

#login-container h2 {
    font-size: xxx-large;
    margin-top: 15vh;
    margin-bottom: 5vh;
    text-align: center;
}


#login-container form {
    height: fit-content;
    min-height: 55%
}

#login-container form label {
    font-size: x-large;
}

#login-container form button {
    border: none;
    font-size: x-large;
}

#login-container form button:hover {
    scale: 1.025;
}

#member-link p {
    font-size: large;
    margin-top: 3vh;
}