#signup-container form {
    margin-bottom: 3vh;
    height: fit-content;
}

#signup-container h2 {
    font-size: xx-large;
    margin-top: 15vh;
    margin-bottom: 5vh;
    text-align: center;
}

#signup-container form button {
    border: none;
}

#signup-container form button:hover {
    scale: 1.025;
}