#signup-container form {
    margin-bottom: 3vh;
    height: fit-content;
}

#signup-container h2 {
    font-size: xxx-large;
    margin-top: 15vh;
    margin-bottom: 5vh;
    text-align: center;
}

#signup-container form label {
    font-size: x-large;
}

#signup-container form button {
    border: none;
    font-size: x-large;
}

#signup-container form button:hover {
    scale: 1.025;
}

p {
    font-size: large;
}